<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="/css/jotto.css" th:href="@{/css/jotto.css}" >
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css" th:href="@{/css/StyleSheet.css}" >
    <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">    <title>Sign In </title>
</head>
<script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="/js/buttonhelper.js" th:src="@{/js/buttonhelper.js}"></script>
<body>
<div class="fade-in">
    <div class = "container">
        <div th:if="${param.error}" style="line-height:5%">
            <h4>Invalid username and password.<h4>
        </div>
        <div th:if="${param.logout}" style="line-height:5%">
            <h4>You have been logged out.</h4>
        </div>
        </br>
        </br>
        <form th:action="@{/users/AddUser}" method="post" enctype="application/x-www-form-urlencoded">
            <div style="line-height:10%" align="center"><h2><label> User Name : <input type="text" name="userName"/> </label></h2></div>
            <div style="line-height:10%" align="center"><h2><label> Password: <input type="password" name="password"/> </label></h2></div>
            </br>
            </br>
            <div style="line-height:10%" align="center"><input type="submit" value="Register"/></div>
        </form>
        <br>
        <div style="line-height:10%" align="center">
        <button th:onclick="'changeWindow(\'/login\');'">Back to login page</button>
        </div>
    </div>
</div>
</body>
</html>