<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" type="text/css" href="/css/jotto.css" th:href="@{/css/jotto.css}" >
	<link rel="stylesheet" type="text/css" href="/css/StyleSheet.css" th:href="@{/css/StyleSheet.css}" >
	<link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">
	<title>Jotto</title>
</head>
<p id="user" style="display:none;">[[${#httpServletRequest.remoteUser}]]</p>
<script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="/js/jotto.js" th:src="@{/js/jotto.js}"></script>
<body>
<table>
	<tr valign="bottom" style="height:10%">
		<td style="width:25%">
			<h2>Player's Guesses</h2>
		</td>
		<td style="width:50% align:center">
		</td>
		<td style="width:25%">
			<h2>CPU's Guesses</h2>
		</td>
	</tr>
	<tr valign="top" style="height:80%">
		<td style="width:25%;">
			<div class="wordsLeft">
				<div id="player_list" class="guess_list">
				</div>
			</div>
		</td>
		<td style="width:50% vertical-align:bottom">
			<div class="fade-in">
			<div class = "gameInput">
				<div class="gameInputWrapper">
					<div class="textInputWrapper">
						<div id="guess">
							<h4>Type your guess below and press ENTER key</h4>
							<br>
							<br>
							<input id="word_guess" maxlength="5" placeholder="Enter">
							<p id="notice_ingame"></p>
						</div>
						<div id="overlay">
						</div>
						<div id="overlay_prompt">
							<h4 id="prompt_start">To begin the game, enter a 5-letter word.</h4>
							<br>
							<br>
							<br>
							<br>
							<input id = "word_start" style="" maxlength="5" placeholder="Enter">
							<p id="notice_start"></p>
							</div>
						<div id="overlay_notice">
							<h4 id="notice_text">Loading...</h4>
						</div>
						<div id = "overlay_stats" style="display: none;" text-align="center">
							<h4 style="height:5%;">Stats from past games</h4>
							<div class = "pastGames">
							<table id="stats_table" align ="center" text-align="center">
									<tr style="height:5%" align ="center">
										<td >
											<H4>For User:</H4>
										</td>
										<td>
											<H4>Player Chosen word:</H4>
										</td>
										<td>
											<H4>CPU Chosen word:</H4>
										</td>
										<td>
											<H4>Player Guesses</H4>
										</td>
										<td>
											<H4>CPU Guesses</H4>
										</td>
									</tr>
								</table>
							</div>
							<br>
							<div class = "exit_stats">
								<button id="exit_stats_button" type="button">Exit Stats Screen!</button>
							</div>
						</div>
						<div id="overlay_quit" style="display:none;">
							Game over!
							<p id="notice_quit"></p>
							<div id = "quit">
								<button type="button">Quit!</button>
							</div>
							<div id = "play_again">
								<button onclick="restart()" type="button">Play Again!</button>
							</div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="item">
				<a href="">
					<p class="label success new-label"><span class="align">Need Help?</span></p>
				</a>
				</div>
			</div>
			</div>
		</td>
		<td style="width:25%;">
			<div class="wordsRight">
				<div id="cpu_list" class="guess_list">
				</div>
			</div>
		</td>
	</tr>
	<tr valign="top" align="center">
		<td></td>
		<td align="center">
			<div class = "open_stats">
				<button id="show_stats_button" valign="top" type="button">View past games!</button>
			</div>
		</td>
		<td></td>
	</tr>
</table>
</body>
</html>